@import url(
'https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,300&display=swap');
@import url(
'https://fontlibrary.org//face/iosevka-extended');

.App {
  height: 1000vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDF5E6;
  font-family:'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'IosevkaHeavyExtendedItalic', cursive;
  color: #CD5C5C;
  padding: 1.5em;
}

h2{
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
}

h4{
  color: #CD5C5C;
}

input{
  width: 400px;
  height: 38px;
  font-size: 20px;
  padding-left: 10px;
}

.searchBox > button{
  background-color: #CD5C5C;
  height: 38px;
  width: 60px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.definition {
  width: 500px;
  padding: 20px;
  background-color: #fdedd6;
}

.showResults{
  width: 500px;
  padding: 20px;
}

.showResults > h2 > button{
  background: none;
  border: none;
  cursor: pointer;
}


